
@{
}

@model Books

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>$@Model.Price.ToString()</small>
            </span>
        </h4>
    </div>

    <div style="font-weight: bold" class="card-text p-1">@Model.Author</div>
    <br />
    <div class="card-text p-2">Publisher: @Model.Publisher</div>
    <div class="card-text p-2">ISBN: @Model.Isbn</div>
    <div class="card-text p-2">Classification: @Model.Classification</div>
    <div class="card-text p-2">Category: @Model.Category</div>
    <div class="card-text p-2">@Model.PageCount Pages</div>

    <form method="post" asp-page="/Buy">

        <input type="hidden" asp-for="@Model.BookId" />

        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>

    </form>
</div>

